.nav {
    background-color: rgb(118, 230, 215);
    padding: 7px;
    text-align: center;

}
.menu{
    color: darkslateblue;
    text-decoration: none;
    padding: 2px 5px;
}
.active_menu{
    color: rgba(247, 226, 156, 0.986);
    background-color: rgb(174, 107, 206);
    text-decoration: none;
    padding: 2px 5px;
}